<div class="container-fluid">
    <div class="row">
      <div class="col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-3">
                  <h5 class="text-primary">{{(institution$|async)?.name}}</h5>
                  <p>{{(institution$|async)?.category}}</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-sm-4">
                <div class="avatar-md profile-user-wid mb-4">
                  <img src="assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                </div>
                <h5 class="font-size-15 text-truncate"><p>{{'LABEL.TYPE' | translate | uppercase}}</p></h5>
                <p class="text-muted mb-0 text-truncate">{{(institution$|async)?.type}}</p>
              </div>
  
              <div class="col-sm-8">
                <div class="pt-4">
  
                  <div class="row">
                    <div class="col-6">
                      <h5 class="font-size-15">{{'LABEL.ID' | translate | uppercase}}</h5>
                      <p class="text-muted mb-0">{{(institution$|async)?.id}}</p>
                    </div>
                    <div class="col-6">
                      <h5 class="font-size-15">{{'LABEL.CODE' | translate | uppercase}}</h5>
                      <p class="text-muted mb-0">{{(institution$|async)?.code}}</p>
                    </div>
                  </div>
                  <div class="mt-4">
                    <a href="javascript: void(0);" class="btn btn-primary btn-sm">View Profile <i
                        class="mdi mdi-arrow-right ms-1"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->

        <!-- btn de creation -->
          <div class="card-body mb-2 md-2">
            <div class="col-auto">
              <button type="button" class="btn btn-soft-success shadow-none" (click)="onCreateInstitution(create)">
                <i class="ri-add-circle-line align-middle me-1"></i> create</button>
            </div>
          </div>
          
        
  
       
        <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">{{'OTHERS.INFORMATION' | translate}}</h4>
    
              <p class="text-muted mb-4">{{(institution$|async)?.description}}</p>
              <div class="table-responsive">
                <table class="table table-nowrap mb-0">
                  <tbody>
                    <tr *ngIf="(institution$|async)?.status != null">
                        <th scope="row">{{'LABEL.STATUS' | translate}} :</th>
                        <td>{{(institution$|async)?.status}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.phoneNumber != null">
                      <th scope="row">Mobile :</th>
                      <td>{{(institution$|async)?.phoneNumber}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.siteWeb != null">
                        <th scope="row">{{"LABEL.WEB_SITE" | translate}} :</th>
                        <td>{{(institution$|async)?.siteWeb}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.email != null">
                      <th scope="row">E-mail :</th>
                      <td>{{(institution$|async)?.email}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.boitePostale != null">
                      <th scope="row">{{'LABEL.POBOX' | translate}} :</th>
                      <td>{{(institution$|async)?.boitePostale}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.lattitude != null">
                        <th scope="row">{{'LABEL.LATITUDE' | translate}} :</th>
                        <td>{{(institution$|async)?.lattitude}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.longitude != null">
                        <th scope="row">{{'LABEL.LONGITUDE' | translate}} :</th>
                        <td>{{(institution$|async)?.longitude}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.regionCode != null">
                        <th scope="row">{{'LABEL.REGION_CODE' | translate}} :</th>
                        <td>{{(institution$|async)?.regionCode}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.departmentCode != null">
                        <th scope="row">{{'LABEL.DEPARTEMENT_CODE' | translate}} :</th>
                        <td>{{(institution$|async)?.departmentCode}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.districtCode != null">
                        <th scope="row">{{'LABEL.DISTRICT_CODE' | translate}} :</th>
                        <td>{{(institution$|async)?.districtCode}}</td>
                    </tr>
                    <tr *ngIf="(institution$|async)?.quarterCode != null">
                        <th scope="row">{{'LABEL.QUARTER_CODE' | translate}} :</th>
                        <td>{{(institution$|async)?.quarterCode}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- end card -->
    
        </div>
  
      <div class="col-xl-7">
  
        <div class="row">
          <div *ngFor="let stat of statData" class="col-md-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex-grow-1">
                      <p class="text-muted fw-medium mb-2">{{stat.title}}</p>
                      <h4 class="mb-0">{{stat.value}}</h4>
                    </div>
                    <div class="flex-shrink-0 align-self-center">
                      <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                        <span class="avatar-title">
                          <i class="bx {{stat.icon}} font-size-24"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end card-body -->
              </div>
              <!-- end card -->
          </div>
  
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Revenue</h4>
            <apx-chart dir="ltr" class="apex-charts" [series]="revenueBarChart.series" [chart]="revenueBarChart.chart"
              [xaxis]="revenueBarChart.xaxis" [colors]="revenueBarChart.colors" [yaxis]="revenueBarChart.yaxis"
              [dataLabels]="revenueBarChart.dataLabels" [stroke]="revenueBarChart.stroke"
              [plotOptions]="revenueBarChart.plotOptions" [fill]="revenueBarChart.fill">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>

  <ng-template #create let-modal>
    <div class="modal-header">
        <health-header-modal></health-header-modal>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
       <health-select-institution
        (onSelectType)="actionTypeInstitution($event)"
       ></health-select-institution>
    </div>
  </ng-template>
  