<form (ngSubmit)="createTypeLaboratoire()" [formGroup]="typeLaboratoireForm">
    <div class="mb-3 row">
        <label for="libelleFr">{{'FORMS.LABEL-FR' | translate | titlecase }}</label>
        <input type="text" class="form-control" id="libelleFr" formControlName="libelleFr"
        [ngClass]="{'is-invalid': isTypeLaboratoireSubmitted && typeLaboratoire['libelleFr'].errors}" placeholder="{{'FORMS.LABEL-FR' | translate | titlecase }}">
        <div *ngIf="isTypeLaboratoireSubmitted && typeLaboratoire['libelleFr'].errors" class="invalid-feedback">
                <div *ngIf="typeLaboratoire['libelleFr'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
                <div *ngIf="typeLaboratoire['libelleFr'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
                <div *ngIf="typeLaboratoire['libelleFr'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="libelleEn">{{'FORMS.LABEL-EN' | translate | titlecase }}</label>
        <input type="text" class="form-control" id="libelleEn" formControlName="libelleEn"
        [ngClass]="{'is-invalid': isTypeLaboratoireSubmitted && typeLaboratoire['libelleEn'].errors}" placeholder="{{'FORMS.LABEL-EN' | translate | titlecase }}">
        <div *ngIf="isTypeLaboratoireSubmitted && typeLaboratoire['libelleEn'].errors" class="invalid-feedback">
            <div *ngIf="typeLaboratoire['libelleEn'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
            <div *ngIf="typeLaboratoire['libelleEn'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
            <div *ngIf="typeLaboratoire['libelleEn'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
        </div>
    </div>
  
    <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-xs btn-icon-text " [ngClass]="operation == operationEnum.CREATE ? 'btn-outline-success': 'btn-outline-warning'" type="submit" [disabled]="loading$|async">
            <span *ngIf="loading$|async"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{ operation == operationEnum.CREATE ?  ('ACTIONS.SAVE' | translate | titlecase) : ('ACTIONS.UPDATE' | translate | titlecase)}}
            <i data-feather="save" appFeatherIcon></i>
        </button>
    </div>
  </form>
  