<app-loader-page *ngIf="(familles$|async)?.dataState == dataState.LOADING; else listFamillesView"></app-loader-page>
<ng-template #listFamillesView>
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline">
            <h6 class="card-title mb-0">{{'messages.radios.list-type-radio' | translate | titlecase}}</h6>
            <div class="mb-2">
              <button class="btn btn-xs btn-primary d-none d-md-block" (click)="onCreateFamille()" type="button">
                {{'forms.add' | translate | titlecase}}
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" *ngIf="familles?.length || 0>0; else noDataFamilles"class="table table-hover mb-0 table-100 table-sm">
              <thead>
                <tr>
                  <th>{{'LABELS.ID' | translate | titlecase }}</th>
                  <th>{{'FORMS.LABEL' | translate | titlecase }}</th>
                  <th>{{'FORMS.ACTION' | translate | titlecase }}</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of familles" class="table-light">
                  <td>{{item?.id}}</td>
                  <td>{{item?.libelle}}</td>
                  <td class="d-flex">
                      <a (click)="onEditFamille(item)" class="btn btn-sm btn-warning me-2">
                        edit
                      </a>
                      <a (click)="detailFamille(detail, item)" class="btn btn-sm btn-primary btn-icon">
                        {{'ACTIONS.VIEW'|translate|titlecase}}
                      </a>
                      
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noDataFamilles>
              <table datatable [dtOptions]="dtOptions" class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th>{{'LABELS.ID' | translate | titlecase }}</th>
                  <th>{{'FORMS.LABEL' | translate | titlecase }}</th>
                  <th>{{'FORMS.ACTION' | translate | titlecase }}</th>
                  </tr>
                </thead>
            </table>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 d-none d-md-block">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{ (operationFamille$|async)?.operation == 'add' ? ('forms.add' | translate | titlecase) : ('forms.edit' | translate | titlecase) }}</h6>
          <health-add-famille
            [loading$]="loadingOperation$"
            [famille$]="operationFamille$"
            ></health-add-famille>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #detail let-modal>
  <div class="modal-header">
    <health-header-modal
    [title$]="title$"
  ></health-header-modal>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body text-center">
      <health-display-detail-famille
        [loadingActivate$]="loadingActivate$"
        [loadingDelete$]="loadingDelete$"
        [famille$]="famille$"
        (onActions)="actionFamille($event)"
      ></health-display-detail-famille>
  </div>
</ng-template>

