<form (ngSubmit)="createIntrantValue()" [formGroup]="intrantValueForm">
    <div class="mb-3">
        <label for="idType">{{'forms.intrantValue' | translate | titlecase }}</label>
        <ng-select
          #idType
          placeholder="{{'messages.intrantValue.select' | translate | titlecase }}"
          formControlName="idType"
          [ngClass]="{'is-invalid': isIntrantValueSubmitted && intrantValue['idType'].errors}"
          >
          <ng-option *ngFor="let typeIntrant of typeIntrants$|async" [value]="typeIntrant.id">{{lang == appEnums.PREFIX_FR ? typeIntrant.libelleFr : typeIntrant.libelleEn }}</ng-option>
        </ng-select>
        <div *ngIf="isIntrantValueSubmitted && intrantValue['idType']?.errors" class="invalid-feedback">
          <div *ngIf="intrantValue['idType']?.errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
          <div *ngIf="intrantValue['idType']?.errors!['min']"> {{'MESSAGES.ERRORS.MIN' | translate | titlecase }} </div>
        </div>
      </div>

    <div class="mb-3 row">
        <label for="libelleFr">{{'FORMS.LABEL-FR' | translate | titlecase }}</label>
        <input type="text" class="form-control" id="libelleFr" formControlName="libelleFr"
        [ngClass]="{'is-invalid': isIntrantValueSubmitted && intrantValue['libelleFr'].errors}" placeholder="{{'FORMS.LABEL-FR' | translate | titlecase }}">
        <div *ngIf="isIntrantValueSubmitted && intrantValue['libelleFr'].errors" class="invalid-feedback">
                <div *ngIf="intrantValue['libelleFr'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
                <div *ngIf="intrantValue['libelleFr'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
                <div *ngIf="intrantValue['libelleFr'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="libelleEn">{{'FORMS.LABEL-EN' | translate | titlecase }}</label>
        <input type="text" class="form-control" id="libelleEn" formControlName="libelleEn"
        [ngClass]="{'is-invalid': isIntrantValueSubmitted && intrantValue['libelleEn'].errors}" placeholder="{{'FORMS.LABEL-EN' | translate | titlecase }}">
        <div *ngIf="isIntrantValueSubmitted && intrantValue['libelleEn'].errors" class="invalid-feedback">
            <div *ngIf="intrantValue['libelleEn'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
            <div *ngIf="intrantValue['libelleEn'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
            <div *ngIf="intrantValue['libelleEn'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
        </div>
    </div>
  
    <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-xs btn-icon-text " [ngClass]="operation == operationEnum.CREATE ? 'btn-outline-success': 'btn-outline-warning'" type="submit" [disabled]="loading$|async">
            <span *ngIf="loading$|async"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{ operation == operationEnum.CREATE ?  ('ACTIONS.SAVE' | translate | titlecase) : ('ACTIONS.UPDATE' | translate | titlecase)}}
            <i data-feather="save" appFeatherIcon></i>
        </button>
    </div>
  </form>
  