.dnett-background {
    top: -283px;
    left: -122px;
    width: 773px;
    height: 562px;
    background: transparent url('../../../assets/images-prod/Groupe_155.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.dnett-background-footer{
    top: 717px;
    left: 1489px;
    width: 557px;
    height: 559px;
    background: transparent url('../../../assets/images-prod/Ellipse_107.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}