<form (ngSubmit)="updateRole()" [formGroup]="roleForm">
  <div class="row">
    <div class="col-lg-12">
      <div class="mb-3">
        <label for="idCategorie">{{'forms.produit' | translate | titlecase }}</label>
        <ng-select
          #name
          placeholder="{{'messages.produit.select' | translate | titlecase }}"
          formControlName="name"
          [ngClass]="{'is-invalid': submitted && role['name'].errors}"
          >
          <ng-option *ngFor="let authority of authorities$|async" [value]="authority.name">{{authority.name}}</ng-option>
        </ng-select>
        <div *ngIf="submitted && role['name']?.errors" class="invalid-feedback">
          <div *ngIf="role['name']?.errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
          <div *ngIf="role['name']?.errors!['min']"> {{'MESSAGES.ERRORS.MIN' | translate | titlecase }} </div>
        </div>
      </div>

        <div class="mb-3">
            <label for="name" class="form-label">{{'FORMS.NAME'|translate | titlecase}}</label>
            <input type="text" class="form-control" id="name"
                formControlName="name"
                [ngClass]="{'is-invalid': submitted && role['name'].errors}" placeholder="{{'FORMS.NAME'|translate | titlecase}}">
            <div *ngIf="submitted && role['name'].errors" class="invalid-feedback">
                <div *ngIf="role['name'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
                <div *ngIf="role['name'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
                <div *ngIf="role['name'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
      <div class="mb-3">
          <label for="description" class="form-label">{{'FORMS.DESCRIPTION_FR'|translate | titlecase}}</label>
          <textarea rows="5" type="text" class="form-control" id="description"
              formControlName="descriptionFr"
              [ngClass]="{'is-invalid': submitted && role['descriptionFr'].errors}" placeholder="{{'FORMS.DESCRIPTION_FR'|translate | titlecase}}" ></textarea>
          <div *ngIf="submitted && role['descriptionFr'].errors" class="invalid-feedback">
              <div *ngIf="role['descriptionFr'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
              <div *ngIf="role['descriptionFr'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
              <div *ngIf="role['descriptionFr'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
          </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="mb-3">
          <label for="description" class="form-label">{{'FORMS.DESCRIPTION_EN'|translate | titlecase}}</label>
          <textarea rows="5" type="text" class="form-control" id="description"
              formControlName="descriptionEn"
              [ngClass]="{'is-invalid': submitted && role['descriptionEn'].errors}" placeholder="{{'FORMS.DESCRIPTION_EN'|translate | titlecase}}" ></textarea>
          <div *ngIf="submitted && role['descriptionEn'].errors" class="invalid-feedback">
              <div *ngIf="role['descriptionEn'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
              <div *ngIf="role['descriptionEn'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
              <div *ngIf="role['descriptionEn'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
          </div>
      </div>
    </div>
  </div>
   
  <div class="text-end mt-2">
      <div class="hstack justify-content-end gap-2">
          <button type="button" class="btn btn-ghost-danger"(click)="cancel()"><i
              class="ri-close-line align-bottom"></i> {{'ACTIONS.CANCEL' | translate}}</button>
          <button type="submit" class="btn" [ngClass]="{'btn-success': operattion == operationEnum.CREATE, 'btn-warning': operattion == operationEnum.UPDATE}">{{operattion == operationEnum.CREATE ?  ('ACTIONS.ADD' | translate) : ('ACTIONS.UPDATE' | translate)}}</button>
      </div>
  </div>
</form>