<form (ngSubmit)="createTypeAntecedent()" [formGroup]="typeAntecedentForm">
  <div class="mb-3 row">
    <label for="libelleFr">{{'FORMS.LABEL-FR' | translate | titlecase }}</label>
    <input type="text" class="form-control" id="libelleFr" formControlName="libelleFr"
    [ngClass]="{'is-invalid': isTypeAntecedentSubmitted && typeAntecedent['libelleFr'].errors}" placeholder="{{'FORMS.LABEL-FR' | translate | titlecase }}">
    <div *ngIf="isTypeAntecedentSubmitted && typeAntecedent['libelleFr'].errors" class="invalid-feedback">
            <div *ngIf="typeAntecedent['libelleFr'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
            <div *ngIf="typeAntecedent['libelleFr'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
            <div *ngIf="typeAntecedent['libelleFr'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="libelleEn">{{'FORMS.LABEL-EN' | translate | titlecase }}</label>
    <input type="text" class="form-control" id="libelleEn" formControlName="libelleEn"
    [ngClass]="{'is-invalid': isTypeAntecedentSubmitted && typeAntecedent['libelleEn'].errors}" placeholder="{{'FORMS.LABEL-EN' | translate | titlecase }}">
    <div *ngIf="isTypeAntecedentSubmitted && typeAntecedent['libelleEn'].errors" class="invalid-feedback">
        <div *ngIf="typeAntecedent['libelleEn'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
        <div *ngIf="typeAntecedent['libelleEn'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
        <div *ngIf="typeAntecedent['libelleEn'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
    </div>
</div>

<div class="d-flex justify-content-end mt-2">
    <button class="btn btn-xs btn-icon-text " [ngClass]="operation == operationEnum.CREATE ? 'btn-outline-success': 'btn-outline-warning'" type="submit" [disabled]="loading$|async">
        <span *ngIf="loading$|async"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ operation == operationEnum.CREATE ?  ('ACTIONS.SAVE' | translate | titlecase) : ('ACTIONS.UPDATE' | translate | titlecase)}}
        <i data-feather="save" appFeatherIcon></i>
    </button>
</div>
</form>
