<app-loader-page *ngIf="(radioValues$|async)?.dataState == dataState.LOADING; else listRadioValuesView"></app-loader-page>
<ng-template #listRadioValuesView>
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline">
            <h6 class="card-title mb-0">{{'messages.radios.list-type-radio' | translate | titlecase}}</h6>
            <div class="mb-2">
              <button class="btn btn-xs btn-primary d-none d-md-block" (click)="onCreateRadioValue()" type="button">
                {{'ACTIONS.ADD' | translate | titlecase}}
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" *ngIf="radioValues?.length || 0>0; else noDataRadioValue" class="table table-hover mb-0 table-100 table-sm">
              <thead>
                <tr>
                  <th>{{'LABELS.ID' | translate | titlecase }}</th>
                  <th>{{'FORMS.CODE' | translate | titlecase }}</th>
                  <th>{{'FORMS.LABEL-FR' | translate | titlecase }}</th>
                  <th>{{'FORMS.LABEL-EN' | translate | titlecase }}</th>
                  <th>{{'FORMS.TYPE' | translate | titlecase }}</th>
                  <th>{{'FORMS.ACTION' | translate | titlecase }}</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of radioValues" class="table-light">
                  <td>{{item?.id}}</td>
                  <td>{{item?.code}}</td>
                  <td>{{item?.libelleFr}}</td>
                  <td>{{item?.libelleEn}}</td>
                  <td>{{item?.type?.libelleFr}}</td>
                  <td class="d-flex">
                      <a (click)="onEditRadioValue(item)" class="btn btn-sm btn-warning me-2">
                        edit
                      </a>
                      <a (click)="detailRadio(detail, item)" class="btn btn-sm btn-primary btn-icon">
                        {{'ACTIONS.VIEW'|translate|titlecase}}
                      </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noDataRadioValue>
              <table datatable [dtOptions]="dtOptions" class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th>{{'LABELS.ID' | translate | titlecase }}</th>
                    <th>{{'FORMS.CODE' | translate | titlecase }}</th>
                    <th>{{'FORMS.LABEL-FR' | translate | titlecase }}</th>
                    <th>{{'FORMS.LABEL-EN' | translate | titlecase }}</th>
                    <th>{{'FORMS.TYPE' | translate | titlecase }}</th>
                    <th>{{'FORMS.ACTION' | translate | titlecase }}</th>
                  </tr>
                </thead>
            </table>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 d-none d-md-block">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{ (operationRadioValue$|async)?.operation == operationEnum.CREATE ? ('ACTIONS.SAVE' | translate | titlecase) : ('ACTIONS.UPDATE' | translate | titlecase) }}</h6>
          <health-add-radio-value
            [loading$]="loadingOperation$"
            [radioValue$]="operationRadioValue$"
            ></health-add-radio-value>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #detail let-modal>
  <div class="modal-header">
      
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body text-center">
      <health-display-detail-radio
        [loadingActivate$]="loadingActivate$"
        [loadingDelete$]="loadingDelete$"
        [radio$]="radio$"
        (onActions)="actionFamille($event)"
      ></health-display-detail-radio>
  </div>
</ng-template>

