<form (ngSubmit)="createRadioValue()" [formGroup]="radioValueForm">
  <div class="mb-3">
      <label for="idType">{{'forms.radioValue' | translate | titlecase }}</label>
      <ng-select
        #idType
        placeholder="{{'messages.radioValue.select' | translate | titlecase }}"
        formControlName="idType"
        [ngClass]="{'is-invalid': isRadioValueSubmitted && radioValue['idType'].errors}"
        >
        <ng-option *ngFor="let typeRadio of typeRadios$|async" [value]="typeRadio.id">{{lang == appEnums.PREFIX_FR ? typeRadio.libelleFr : typeRadio.libelleEn }}</ng-option>
      </ng-select>
      <div *ngIf="isRadioValueSubmitted && radioValue['idType']?.errors" class="invalid-feedback">
        <div *ngIf="radioValue['idType']?.errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
        <div *ngIf="radioValue['idType']?.errors!['min']"> {{'MESSAGES.ERRORS.MIN' | translate | titlecase }} </div>
      </div>
    </div>

  <div class="mb-3">
      <label for="libelleFr">{{'FORMS.LABEL-FR' | translate | titlecase }}</label>
      <input type="text" class="form-control" id="libelleFr" formControlName="libelleFr"
      [ngClass]="{'is-invalid': isRadioValueSubmitted && radioValue['libelleFr'].errors}" placeholder="{{'FORMS.LABEL-FR' | translate | titlecase }}">
      <div *ngIf="isRadioValueSubmitted && radioValue['libelleFr'].errors" class="invalid-feedback">
              <div *ngIf="radioValue['libelleFr'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
              <div *ngIf="radioValue['libelleFr'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
              <div *ngIf="radioValue['libelleFr'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
      </div>
  </div>

  <div class="mb-3">
      <label for="libelleEn">{{'FORMS.LABEL-EN' | translate | titlecase }}</label>
      <input type="text" class="form-control" id="libelleEn" formControlName="libelleEn"
      [ngClass]="{'is-invalid': isRadioValueSubmitted && radioValue['libelleEn'].errors}" placeholder="{{'FORMS.LABEL-EN' | translate | titlecase }}">
      <div *ngIf="isRadioValueSubmitted && radioValue['libelleEn'].errors" class="invalid-feedback">
          <div *ngIf="radioValue['libelleEn'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
          <div *ngIf="radioValue['libelleEn'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
          <div *ngIf="radioValue['libelleEn'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
      </div>
  </div>

  <div class="d-flex justify-content-end mt-2">
      <button class="btn btn-xs btn-icon-text " [ngClass]="operation == operationEnum.CREATE ? 'btn-outline-success': 'btn-outline-warning'" type="submit" [disabled]="loading$|async">
          <span *ngIf="loading$|async"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{ operation == operationEnum.CREATE ?  ('ACTIONS.SAVE' | translate | titlecase) : ('ACTIONS.UPDATE' | translate | titlecase)}}
          <i data-feather="save" appFeatherIcon></i>
      </button>
  </div>
</form>
