
<div class="row">
  <div class="col-xl-7">
      <div class="row mb-3 pb-1">
          <div class="d-flex align-items-lg-center flex-lg-row flex-column">
              <div class="flex-grow-1">
                  <h4 class="fs-16 mb-1">{{'TITLES.DASHBOARD.DASHBOARD' | translate}}</h4>
                  <p class="text-muted mb-0">Gestion des roles</p>
              </div>
              
          </div><!-- end card header -->
      </div>
      
      <div class="card">
          <div class="card-body">
            <div class="mt-3 mt-lg-0 ms-auto">
              <div class="row g-3 mb-0 align-items-center">
                  <div class="col-auto">
                      <button type="button" class="btn btn-soft-success shadow-none"
                       (click)="onAddRole()" >
                        <i class="bx bx-plus-circle align-middle me-1"></i> create
                      </button>
                  </div>
                  <!--end col-->
              </div>
              <!--end row-->
          </div><br>
              <div class="table-responsive">
                  <table datatable [dtOptions]="dbOptions" *ngIf="(roles?.length  || 0) > 0; else noDataRole"  class="table table-hover table-sm">
                      <thead>
                          <tr>
                            <th>{{'LABELS.NAME' | translate | uppercase}}</th>
                            <th>{{'LABELS.DESCRIPTION_FR' | translate | uppercase}}</th>
                            <th>{{'LABELS.DESCRIPTION_EN' | translate | uppercase}}</th>
                            <th>{{'LABELS.NUMBER_AUTHORITIES' | translate | uppercase}}</th>
                            <th>{{'LABELS.AUTHORITIES' | translate | uppercase}}</th>
                            <th>{{'LABELS.ACTION' | translate | uppercase}}</th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr class="table-danger" *ngFor="let role of roles">
                          <td>{{role.name}}</td>
                          <td>{{role.descriptionFr}}</td>
                          <td>{{role.descriptionEn}}</td>
                          <td>
                            <button class="btn btn-sm btn-primary ms-2" ngbTooltip="{{'ACTIONS.VIEW' | translate}}" placement="top" (click)="onGetAuthorities(listAuthority, ''+role.name)">
                              <i class="bx bx-show"></i>
                              {{'ACTIONS.VIEW' | translate}}
                          </button>
                          </td>
                          <td>
                              <button class="btn btn-sm btn-success ms-2" ngbTooltip="{{'ACTIONS.UPDATE' | translate}}" placement="top" (click)="onUpdateRole(role)">
                                  <i class="bx bxs-edit-alt"></i>
                              </button>
                              <button class="btn btn-sm btn-danger ms-2" ngbTooltip="{{'ACTIONS.DELETE' | translate}}" placement="top" (click)="onDelete(role)">
                                  <i class="bx bx-trash"></i>
                              </button>
                          </td>
                      </tr>
                      </tbody>
                  </table>
                  <ng-template #noDataRole>
                      <table datatable [dtOptions]="dbOptions" class="table table-hover table-sm">
                          <thead>
                            <tr>
                              <th>{{'LABELS.NAME' | translate | uppercase}}</th>
                              <th>{{'LABELS.DESCRIPTION_FR' | translate | uppercase}}</th>
                              <th>{{'LABELS.DESCRIPTION_EN' | translate | uppercase}}</th>
                              <th>{{'LABELS.AUTHORITIES' | translate | uppercase}}</th>
                              <th>{{'LABELS.ACTION' | translate | uppercase}}</th>
                            </tr>
                          </thead>
                      </table>
                  </ng-template>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{ (role$|async)?.operation == operationEnum.CREATE ? ('ACTIONS.SAVE' | translate | titlecase) : ('ACTIONS.UPDATE' | translate | titlecase) }}</h6>
          <health-add-role
            [loading$]="loading$"
            [role$]="role$"
            [authorities$]="authorities$"
            ></health-add-role>
        </div>
      </div>
    </div>
  
  </div>
  


<ng-template #listAuthority role="document" let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel">Default Modal Heading</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <health-list-authorities-by-role [authorities$]="authorities$"></health-list-authorities-by-role>
</ng-template><!-- /.modal -->