<div class="container">
    <div class="card" *ngIf="(product$)as produit">
      <div class="card-header text-white bg-health">
        {{produit}}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">Id:</div>
              <div class="col-md-8"></div>
            </div>

            <div class="row">
              <div class="col-md-4">Libelle:</div>
              <div class="col-md-8"></div>
            </div>
            <div class="row">
              <div class="col-md-4">Description:</div>
              <div class="col-md-8">
               
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">Categorie:</div>
              <div class="col-md-8">
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">Forme:</div>
              <div class="col-md-8">
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">Dosage:</div>
              <div class="col-md-8">
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">Ordonance:</div>
              <div class="col-md-8">
                
              </div>
            </div>
          </div>

          <div class="col-md-4">
            
          </div>
        </div>
      </div>
    </div>
  </div>

