<app-loader-page></app-loader-page>
<div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dbOptions" *ngIf="((users$|async)?.length  || 0) > 0; else noDataRole"  class="table table-hover table-sm">
                        <thead>
                            <tr>
                              <th>{{'LABELS.ID_USER' | translate | uppercase}}</th>
                              <th>{{'LABELS.ID_INSTITUTION' | translate | uppercase}}</th>
                              <th>{{'LABELS.LOGIN' | translate | uppercase}}</th>
                              <th>{{'LABELS.FIRSTNAME' | translate | uppercase}}</th>
                              <th>{{'LABELS.LASTNAME' | translate | uppercase}}</th>
                              <th>{{'LABELS.COUNTRY' | translate | uppercase}}</th>
                              <th>{{'LABELS.GENDER' | translate | uppercase}}</th>
                              <th>{{'LABELS.CITY' | translate | uppercase}}</th>
                              <th>{{'LABELS.NATIONALITY' | translate | uppercase}}</th>
                              <th>{{'LABELS.MARITAL_SITUATION' | translate | uppercase}}</th>
                              <th>{{'LABELS.LANG_KEY' | translate | uppercase}}</th>
                              <th>{{'LABELS.EMAIL' | translate | uppercase}}</th>
                              <th>{{'LABELS.PHONE' | translate | uppercase}}</th>
                              <th>{{'LABELS.POSTAL_BOX' | translate | uppercase}}</th>
                              <th>{{'LABELS.AVATAR' | translate | uppercase}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="table-{{ligneColor(''+user.lastName | uppercase)}}" *ngFor="let user of (users$|async)">
                            <td>{{user.userId}}</td>
                            <td>{{user.institutionId}}</td>
                            <td>{{user.login}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.countryOfBirth}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.cityOfBirth}}</td>
                            <td>{{user.nationality}}</td>
                            <td>{{user.maritalSituation}}</td>
                            <td>{{user.langKey}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phoneNumber}}</td>
                            <td>{{user.postalBox}}</td>
                            <td>{{user.avatar}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <ng-template #noDataRole>
                        <table datatable [dtOptions]="dbOptions" class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>{{'LABELS.ID_USER' | translate | uppercase}}</th>
                                    <th>{{'LABELS.ID_INSTITUTION' | translate | uppercase}}</th>
                                    <th>{{'LABELS.LOGIN' | translate | uppercase}}</th>
                                    <th>{{'LABELS.FIRSTNAME' | translate | uppercase}}</th>
                                    <th>{{'LABELS.LASTNAME' | translate | uppercase}}</th>
                                    <th>{{'LABELS.COUNTRY' | translate | uppercase}}</th>
                                    <th>{{'LABELS.GENDER' | translate | uppercase}}</th>
                                    <th>{{'LABELS.CITY' | translate | uppercase}}</th>
                                    <th>{{'LABELS.NATIONALITY' | translate | uppercase}}</th>
                                    <th>{{'LABELS.MARITAL_SITUATION' | translate | uppercase}}</th>
                                    <th>{{'LABELS.LANG_KEY' | translate | uppercase}}</th>
                                    <th>{{'LABELS.EMAIL' | translate | uppercase}}</th>
                                    <th>{{'LABELS.PHONE' | translate | uppercase}}</th>
                                    <th>{{'LABELS.POSTAL_BOX' | translate | uppercase}}</th>
                                    <th>{{'LABELS.AVATAR' | translate | uppercase}}</th>
                                  </tr>
                            </thead>
                        </table>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>