<form (ngSubmit)="createTraitmentValue()" [formGroup]="traitmentValueForm">
    <div class="mb-3">
        <label for="idType">{{'forms.traitmentValue' | translate | titlecase }}</label>
        <ng-select
          #idType
          placeholder="{{'messages.traitmentValue.select' | translate | titlecase }}"
          formControlName="idType"
          [ngClass]="{'is-invalid': isTraitmentValueSubmitted && traitmentValue['idType'].errors}"
          >
          <ng-option *ngFor="let typeTraitment of typeTraitments$|async" [value]="typeTraitment.id">{{lang == appEnums.PREFIX_FR ? typeTraitment.libelleFr : typeTraitment.libelleEn }}</ng-option>
        </ng-select>
        <div *ngIf="isTraitmentValueSubmitted && traitmentValue['idType']?.errors" class="invalid-feedback">
          <div *ngIf="traitmentValue['idType']?.errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
          <div *ngIf="traitmentValue['idType']?.errors!['min']"> {{'MESSAGES.ERRORS.MIN' | translate | titlecase }} </div>
        </div>
      </div>

    <div class="mb-3">
        <label for="libelleFr">{{'FORMS.LABEL-FR' | translate | titlecase }}</label>
        <input type="text" class="form-control" id="libelleFr" formControlName="libelleFr"
        [ngClass]="{'is-invalid': isTraitmentValueSubmitted && traitmentValue['libelleFr'].errors}" placeholder="{{'FORMS.LABEL-FR' | translate | titlecase }}">
        <div *ngIf="isTraitmentValueSubmitted && traitmentValue['libelleFr'].errors" class="invalid-feedback">
                <div *ngIf="traitmentValue['libelleFr'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
                <div *ngIf="traitmentValue['libelleFr'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
                <div *ngIf="traitmentValue['libelleFr'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="libelleEn">{{'FORMS.LABEL-EN' | translate | titlecase }}</label>
        <input type="text" class="form-control" id="libelleEn" formControlName="libelleEn"
        [ngClass]="{'is-invalid': isTraitmentValueSubmitted && traitmentValue['libelleEn'].errors}" placeholder="{{'FORMS.LABEL-EN' | translate | titlecase }}">
        <div *ngIf="isTraitmentValueSubmitted && traitmentValue['libelleEn'].errors" class="invalid-feedback">
            <div *ngIf="traitmentValue['libelleEn'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
            <div *ngIf="traitmentValue['libelleEn'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
            <div *ngIf="traitmentValue['libelleEn'].errors!['maxlength']"> {{'MESSAGES.ERRORS.SIZE-MAX' | translate | titlecase }} </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="descriptionFr">{{'FORMS.DESCRIPTION-FR' | translate | titlecase }}</label>
        <textarea type="text" rows="3" class="form-control" id="descriptionFr" formControlName="descriptionFr"
        [ngClass]="{'is-invalid': isTraitmentValueSubmitted && traitmentValue['descriptionFr'].errors}" placeholder="{{'FORMS.DESCRIPTION-FR' | translate | titlecase }}" ></textarea>
        <div *ngIf="isTraitmentValueSubmitted && traitmentValue['descriptionFr'].errors" class="invalid-feedback">
            <div *ngIf="traitmentValue['descriptionFr'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
            <div *ngIf="traitmentValue['descriptionFr'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="descriptionEn">{{'FORMS.DESCRIPTION-EN' | translate | titlecase }}</label>
        <textarea type="text" rows="3" class="form-control" id="descriptionEn" formControlName="descriptionEn"
        [ngClass]="{'is-invalid': isTraitmentValueSubmitted && traitmentValue['descriptionEn'].errors}" placeholder="{{'FORMS.DESCRIPTION-EN' | translate | titlecase }}" ></textarea>
        <div *ngIf="isTraitmentValueSubmitted && traitmentValue['descriptionEn'].errors" class="invalid-feedback">
            <div *ngIf="traitmentValue['descriptionEn'].errors!['required']">{{'MESSAGES.ERRORS.REQUIRED' | translate | titlecase }}</div>
            <div *ngIf="traitmentValue['descriptionEn'].errors!['minlength']"> {{'MESSAGES.ERRORS.SIZE-NIM' | translate | titlecase }} </div>
        </div>
    </div>
  
    <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-xs btn-icon-text " [ngClass]="operation == operationEnum.CREATE ? 'btn-outline-success': 'btn-outline-warning'" type="submit" [disabled]="loading$|async">
            <span *ngIf="loading$|async"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{ operation == operationEnum.CREATE ?  ('ACTIONS.SAVE' | translate | titlecase) : ('ACTIONS.UPDATE' | translate | titlecase)}}
            <i data-feather="save" appFeatherIcon></i>
        </button>
    </div>
  </form>
  