<!-- <div>
    <label class="tx-11 fw-bolder mb-0 text-uppercase">{{'FORMS.LABEL'| translate | titlecase}}</label>
    <p class="text-muted">{{(categorie$|async)?.libelle}}</p>
</div>


<div class="mt-3 d-flex justify-content-end" *ngIf="categorie$|async as categorie">
    <a (click)="clickAction(typeActionEnum.DELETE, categorie)" class="btn btn-sm justify-content-center btn-icon mr-2">
        <i class="bx bx-highlight font-size-4 align-middle me-2"></i>
        <span *ngIf="loadingDelete$|async"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </a>
    <a (click)="clickAction(typeActionEnum.ACTIVATE, categorie)" class="btn btn-sm justify-content-center btn-icon mr-2">
        <i class="bx bx-grid-small font-size-4 align-middle me-2"></i>
    </a>
</div> -->