
<app-loader></app-loader>
<div class="p-2">
    <form>
        <div class="user-thumb text-center mb-4">
        <img src="assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail avatar-md"
            alt="thumbnail">
        <h5 class="font-size-15 mt-3">Maria Laird</h5>
        </div>
        <div class="mb-3">
            <label for="userpassword">{{'FORMS.PASSWORD'|translate|titlecase}}</label>
            <input type="password" class="form-control pe-5 password-input" id="userpassword" placeholder="Enter password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f['cpassword'].errors }">
            <button
                class="btn btn-link position-absolute end-0 top-0 text-decoration-none shadow-none text-muted password-addon"
                type="button" id="confirm-password-input"><i
                    class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !passwordField, 'mdi-eye-outline': passwordField
            }" (click)="toggleconfirmField()"></i></button>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <span *ngIf="f['password'].errors['required']">Confirm Password is
                    required</span>
            </div>
        </div>

        <div class="text-end">
            <button class="btn btn-primary w-md" type="submit">{{'ACTIONS.RESET'|translate|titlecase}}</button>
        </div>

    </form>
</div>