
<app-loader></app-loader>
<div class="p-2">
    <form>
        <div class="user-thumb text-center mb-4">
        <img src="assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail avatar-md"
            alt="thumbnail">
        <h5 class="font-size-15 mt-3">Maria Laird</h5>
        </div>
        <div class="mb-3">
        <label for="userpassword">{{'FORMS.PASSWORD'|translate|titlecase}}</label>
        <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
        </div>

        <div class="text-end">
            <button class="btn btn-primary w-md" type="submit">{{'ACTIONS.RESET'|translate|titlecase}}</button>
        </div>

    </form>
</div>